{% extends "base.html" %}

{% block content %}

<div class="container">
    {% for review in reviews %}
    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">
                        Blah blah blah
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <p>No reviews found.</p>
    {% endfor %}
</div>

{% endblock %}